html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

section {
    height: 800px;
}

/* #region header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-image: url(/landing/images/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display:flex;
    justify-content: space-between;
}
/* #endregion */
/* #region menu */
.menu {
    margin: 0;
    padding: 64px 120px;
    height: 100vh;
    background-color: #E8EFF9;
    
}

.menu-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}
/* #endregion */
/* #region nav */
.nav {
    display: flex;
    flex-direction: column;
    
    gap: 32px;
}

.nav__link {
    text-transform: uppercase;
    color: #292929;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
}
/* #endregion */
